<header>
    <div class="status-bar">
        <div class="flex-horizontal">
            <div>
                <button (click)="newEmptyGame()">New empty game</button>
                <button (click)="newRandomGame()">New random game</button>
                <button (click)="showNextGeneration()">Next generation</button>
            </div>
            <div>
                <button (click)="saveMap.emit()">Save current map</button>
                <button (click)="loadLastGame.emit()" [disabled]="!hasSavedMap">Load last map</button>

                <div *ngIf="allGames.length > 0">
                    <label for="select-from-all-games">Select from saved games</label>
                    <form [formGroup]="selectedSavegameForm">

                        <select id="select-from-all-games" formControlName="saveGame">
                            <option *ngFor="let savegame of allGames"
                                    [ngValue]="savegame"
                            >
                                {{savegame.name}} (Gen. {{savegame.mapConfig.generationCount}})
                            </option>
                        </select>
                    </form>
                    <button (click)="onLoadSelectedGame()" [disabled]="!selectedGame">Load selected game</button>
                </div>
            </div>
            <div>
                <button (click)="deleteMap.emit(false)" [disabled]="false && !hasSavedMap">Delete last saved map
                </button>
                <button (click)="deleteMap.emit(true)" [disabled]="false && !hasSavedMap">Delete all saved maps</button>
            </div>

            <a [routerLink]="'instructions'">Instructions</a> <br>
        </div>
        <div class="flex-horizontal">
            <app-calculate-map-progress></app-calculate-map-progress>
            <div>
                <input id="toggle-main-map-pause" type="checkbox" [(ngModel)]="togglePaused"
                       (ngModelChange)="pauseChange.emit($event)">
                <label for="toggle-main-map-pause">{{togglePaused ? 'play' : 'pause'}}</label>
            </div>
            <!--      <p>is game over? {{cgol.gameOver$$ | async | json}}</p>-->
            <p><b>Generation:</b> {{generationCount$ | async}}</p>
        </div>
    </div>

</header>

