<section>
    <h2>Anleitung</h2>
    <p>
        Ziel des Spiels ist es, einen Gleiter so auf dem Spielfeld zu positionieren, dass alle Felder weiß werden.
        <br>
        Wähle dazu die Start-Koordinaten für den Gleiter.
        <br>
        <b>Hinweis:</b> Der Gleiter bewegt sich immer in dieselbe Richtung, von oben links nach unten rechts.
    </p>
</section>

<section>
    <h2>
        Wann "lebt" oder "stirbt" eine Zelle
    </h2>

    <ul>
        <li>
            Eine tote Zelle mit genau 3 lebenden Nachbarn wird in der Folgegeneration "geboren" / zum Leben erweckt.
        </li>
        <li>
            Eine lebende Zelle mit weniger als 2 lebenden Nachbarn stirbt in der Folgegeneration an Einsamkeit
        </li>
        <li>
            Eine lebende Zelle mit 2 oder 3 lebenden Nachbarn bleibt in der Folgegeneration am Leben.
        </li>
        <li>
            Eine lebende Zelle mit mehr als 3 lebenden Nachbarn stirbt in der Folgegeneration an Überbevölkerung
        </li>
    </ul>
</section>

<button popovertarget="mypopover">Toggle the popover</button>
                <div id="mypopover" popover>Popover content</div>