<app-three-dee-background 
[mapConfig]="mapStartConfig"
[isPlaying]="isPlaying"
></app-three-dee-background>

<div class="overlay">
      

    <div (mouseover)="showInfo = true" (mouseout)="showInfo = false">
        <h3>Select Map Size</h3>
        <div class="flex-horizontal-spread">
            <div class="flex-horizontal-center">
                <span>X</span>
                <app-number-selector
                    [value]="tileCountX"
                    (valueChange)="tileCountX = $event"
                ></app-number-selector>
            </div>
            <div class="flex-horizontal-center">
                <span><b>Y</b></span>
                <app-number-selector
                    [value]="tileCountY"
                    (valueChange)="tileCountY = $event"
                ></app-number-selector>
            </div>
        </div> 

        <div class="flex-horizontal-center">
            <button 
                class="btn-secondary"
                (click)="createEmptyMap()"
                >
                Generate Empty Map
            </button>
            <button
                class="btn-secondary"
                (click)="createRandomMap()"
                >
                Generate Random Map
            </button>

            <button
                class="btn-cta"
                (click)="togglePlayPause()"
                >
                {{ isPlaying ? 'Pause' : 'Play'}}
            </button>
        </div>
    </div>
    <pre *ngIf="showInfo" style="pointer-events: none;">
        <b>Rotate Camera:</b> Hold down 1 Finger and drag.
        <b>Move Camera:</b> Hold down 2 fingers and drag.
        <b>Zoom in and out: </b> "Swipe" up or down with 2 fingers.
    </pre>
</div>
