p {
  margin: 0;
}

body {
  margin: 0;
  // overflow-x: hidden;
}


* {
  box-sizing: border-box;
  font-family: "American Typewriter";
}

.flex-horizontal-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: .5rem;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}


// Buttons
.btn-cta {
  padding: .5rem 1rem;

  background-color: rgb(55, 128, 47);
  font-weight: bold;
  font-size: 1rem;

  border-radius: .3rem;
  cursor: pointer;
}

.btn-secondary {
  padding: .5rem 0.5rem;

  background-color: rgb(128, 112, 47);
  font-weight: bold;
  font-size: 1rem;

  border-radius: .3rem;
  cursor: pointer;
}
