<h2>Urlaub am Bodensee, 2023</h2>
<div>
    <h3>Die Teilnehmer:</h3>
    <ul>
        <li>Theo</li>
        <li>Lotti</li>
        <li>Ina</li>
        <li>Kevin</li>
    </ul>

</div>

<ng-container *ngIf="selectedImageUrl">
    <img class="selected-image" [src]="selectedImageUrl" (click)="closeImage()">
</ng-container>

<div #days>
    <div class="day">
        <h3>Tag 1: Die Anreise</h3>
        <p>
            Höntrop -> Adelsreute, 8 Stunden, eine gute Fahrt :-)
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230625_085837925.jpg" alt="">
            <img src="./assets/vacation/PXL_20230625_072336045.jpg" alt="">
            <img src="./assets/vacation/PXL_20230625_072338619.MP.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 2: Bodensee, Unteruhldingen</h3>
        <p>
            Schwimmen im Bodensee
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230625_072338619.MP.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 3: Freibad in Ailingen</h3>
        <p>
            Mit Wellenbad!
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230625_072336045.jpg" alt="">
            <img src="./assets/vacation/PXL_20230625_072338619.MP.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 4: Konstanz</h3>
        <p>
            Mit der Fähre nach Konstanz
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230625_072336045.jpg" alt="">
            <img src="./assets/vacation/PXL_20230625_072338619.MP.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 5: Tag auf dem Bauernhof</h3>
        <p>
            Spaziergänge, Grillen
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230626_174746200.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 6: Freibad in Ailingen</h3>
        <p>
            Spaziergänge, Grillen
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230626_180310542.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 7: Lufti Indoor Spielplatz</h3>
        <p>
            Cappuchino ging so :-)
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230625_072336045.jpg" alt="">
            <img src="./assets/vacation/PXL_20230625_072338619.MP.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 8: Bregenz, Pfänder Berg</h3>
        <p>
            Seilbahn auf den Pfänder. "Sportliche" Wanderung, Käserei. Besuch von Pünktchen <3
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230701_093959795.jpg" alt="">
            <img src="./assets/vacation/PXL_20230701_093604411.MP.jpg" alt="">
            <img src="./assets/vacation/PXL_20230701_102113889.jpg" alt="">
            <img src="./assets/vacation/PXL_20230701_104357742.jpg" alt="">
            <img src="./assets/vacation/PXL_20230701_111015068.jpg" alt="">
            <img src="./assets/vacation/PXL_20230701_111230924.jpg" alt="">

            <img src="./assets/vacation/PXL_20230702_052145878.jpg" alt="">
            <!--        <img src="./assets/vacation/PXL_20230701_165152437.MP.jpg" alt="">-->
        </div>
    </div>

    <div class="day">
        <h3>Tag 9: Hoftag / Bavenburg</h3>
        <p>
            Spaziergang und Eis in Bavenburg, Kicker + Kettcar (Kettcar eigentlich jeden Tag...). Mittagsschlaf
        </p>
        <div class="day-images">
            <img src="./assets/vacation/PXL_20230702_095853999.jpg" alt="">
        </div>
    </div>

    <div class="day">
        <h3>Tag 10: Kletterwald</h3>
        <p>
            4 Stunden klettern inkl. Rettungsaktion (ähm ja...)
        </p>
        <div class="day-images">
            <!--        <img src="./assets/vacation/PXL_20230625_072336045.jpg" alt="">-->
            <!--        <img src="./assets/vacation/PXL_20230625_072338619.MP.jpg" alt="">-->
        </div>
    </div>

    <div class="day">
        <h3>Tag 11: Wasserfall im Wald</h3>
        <p>
            Staudamm-Bau im Bach, Cross-Boule, Grillen + Marshmallows
        </p>
        <div class="day-images">
            <!--        <img src="./assets/vacation/PXL_20230625_072336045.jpg" alt="">-->
            <!--        <img src="./assets/vacation/PXL_20230625_072338619.MP.jpg" alt="">-->
        </div>
    </div>
</div>